.section {
  display: grid;
  place-content: center;
  height: 100%;

  [data-content-grid] {
    display: grid;
    border: 1px solid;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;

    & > div {
      display: grid;
      grid-template-columns: 1fr minmax(400px, 30ch);
      gap: 0.5rem;
      align-items: start;
    }
  }
}
