.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr 2rem;
  min-height: 100%;
}

.header,
.main {
  padding-inline: var(--spacing-inline);
}

.main {
  padding-block: var(--spacing-block);
}

.header {
  padding-inline: var(--spacing-inline);
  border-bottom: 1px solid;

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: var(--spacing-inline);
}

.header h1 {
  margin: 0;
  line-height: 1;
  font-size: 1.5rem;
}
